<section id="about">
    <div class="container">
        <div class="row mb-5">
            <div class=" col mx-auto text-center my-auto ">
                <h1 class="section-heading ">ABOUT ShARE UP</h1>
                <p class="text-faded about">We are the University of Port's branch of the international organization ShARE, a student association that gathers the top students, focusing on trainning them to develop innovative, professional solutions for startups, companies and NGO's.
                </p>
            </div>
        </div>
        <div class="row about">
            <div class="my-auto col-lg-6" align="center">
                <i class="text-success fas fa-user-graduate fa-5x my-auto "></i>
                <h3>For the Students</h3>
                <p class="text-faded"> Work on real-world cases, with start-ups, NGO's, high-level companies. Become an exceptional leader and, most of all, learn and share your knowledge </p>
            </div>
            <div class="my-auto col-lg-6" align="center">
                <i class="text-success fas fa-user-tie fa-5x "></i>
                <h3>For the Companies</h3>
                <p class="text-faded">Discover a new way to do consultancy. Tap into a global ecossystem of innovation, fueled by highly trained students that are passionate about learning and helping you grow</p>
            </div>
        </div>
    </div>
</section>