<div class="container-fluid header">
    <div class="row h-50 align-items-center">
        <div class="col align-self-end" align="center">
            <h1 class="display-1 doWelldoGood">
                <span style="color: rgb(80, 80, 80);">
                        DO WELL
                </span>
                <span style="color: rgb(0, 112, 0);">
                        DO GOOD
                    </span>
            </h1>
        </div>
        <!--         <div class="col-6 align-self-end" align="left">
            <h1 class="doWelldoGood">DO GOOD</h1>
        </div> -->
    </div>
    <div class="row">
        <div class="col">
            <h1 class=" text-center maintenence"> {{ content}} </h1>
        </div>
    </div>
    <div class="row" align="center">
        <div class="col-6" align="right">
            <a href="https://www.share-share.org" class="btn btn-success"><i class="fas fa-globe-europe fa-md"></i> See the ShARE Global website</a>
        </div>
        <div class="col-6" align="left">
            <a href="https://www.facebook.com/SHAREUniversityPorto/" class="btn btn-primary"><i class="fab fa-facebook fa-md"></i> Checkout our Facebook page</a>
        </div>
    </div>
</div>
</div>