<section class="container-fluid header d-flex flex-column">
    <div class="row">
        <div class="col offset-md-1">
            <h1 class="text-emphasys text-white text-header display-1">We learn</h1>
            <h1 class="text-emphasys text-share slide_container text-header display-1 ">
                <span class="slide">Together.</span><span class="slide">By Doing.</span><span class="slide">By Teaching.</span>
            </h1>
            <p class="text-white">THE CROSSROAD BETWEEN EDUCATION AND CONSULTANCY</p>
        </div>
    </div>
    <div class="row flex-grow-1">
        <div class="col align-self-end" align="right">
            <h3 class="text-emphasys text-share">A new way to do consultancy</h3>
        </div>
    </div>
    <div class="row">
        <div class="col " align="center">
            <a href="#about"><i class="fas fa-angle-down fa-2x text-share"></i></a>
        </div>
    </div>
</section>




<!-- <div class="container-fluid header ">
    <div class=" h-50-30 ">
        <div class="row vertical-center ">
            <div class="col align-self-center" align="center">
                <img class="img-fluid" src="../img/share_model.png">
            </div>
        </div>
        <div class="row vertical-center">
            <div class=" col " align="center">
                <h1 class="text-emphasys text-share">
                    <span class="slide">Knowledge.</span><span class="slide">Innovation.</span><span class="slide">Consultancy.</span>
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class=" text-center text-white"> {{page.header}} </h1>
            <h1 class=" text-center maintenence"> The crossroad between education and consultancy</h1>
        </div>
    </div>
    <br>
    <div class="row" align="center">
        <div class="col-lg-12">
            <a href="#about" class="btn btn-success"><i class="fas fa-arrow-circle-down fa-md"></i> Take me down</a>
        </div>
    </div>
</div> -->