<section class="bg-light py-4" id="partners">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h1 class="section-heading text-muted">Our Partners</h1>
            </div>
        </div>
        <div class="slide-container">
            <div class="row slide-partners">
                <div class=" col-lg-2 col-md-3 col-sm-4 ">
                    <img class="img-partner my-2 img-fluid" src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg">
                </div>
                <div class=" col-lg-2 col-md-3 col-sm-4">
                    <img class="img-partner my-2 img-fluid" src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg">
                </div>
                <div class=" col-lg-2 col-md-3 col-sm-4">
                    <img class="img-partner my-2 img-fluid" src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg">
                </div>
                <div class=" col-lg-2 col-md-3 col-sm-4">
                    <img class="img-partner my-2 img-fluid" src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg">
                </div>
                <div class=" col-lg-2 col-md-3 col-sm-4 offset-lg-0 offset-md-3">
                    <img class="img-partner my-2 img-fluid" src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg">
                </div>
                <div class=" col-lg-2 col-md-3 col-sm-4">
                    <img class="img-partner my-2 img-fluid" src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg">
                </div>
            </div>
            <div class="row slide-partners">
                <div class=" col-lg-2 col-md-3 col-sm-4 ">
                    <img class="img-partner my-2 img-fluid" src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg">
                </div>
                <div class=" col-lg-2 col-md-3 col-sm-4">
                    <img class="img-partner my-2 img-fluid" src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg">
                </div>
                <div class=" col-lg-2 col-md-3 col-sm-4">
                    <img class="img-partner my-2 img-fluid" src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg">
                </div>
                <div class=" col-lg-2 col-md-3 col-sm-4">
                    <img class="img-partner my-2 img-fluid" src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg">
                </div>
                <div class=" col-lg-2 col-md-3 col-sm-4 offset-lg-0 offset-md-3">
                    <img class="img-partner my-2 img-fluid" src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg">
                </div>
                <div class=" col-lg-2 col-md-3 col-sm-4">
                    <img class="img-partner my-2 img-fluid" src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg">
                </div>
            </div>
        </div>

    </div>

</section>