<section id="recruitment">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="section-heading text-share">ShARE Recruitment</h2>
                <h3 class="section-subheading text-muted">We look for U.PORTO students, aged under 25, with 3 semesters left in Faculty</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card recruitment">
                    <img class="card-img-top p-1" src="../img/recruitment/online.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-share">1. Online Applications</h5>
                        <p class="card-text">Fill in our inscription form and get ready for tough but enjoyable process!</p>
                        <p class="card-text"><small class="text-muted"><i class="far fa-calendar-alt"></i> 10 to 23rd of February</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card recruitment">
                    <img class="card-img-top p-1 " src="../img/recruitment/groupDynamics.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-share">2. Group Dynamics</h5>
                        <p class="card-text">This is the 2nd phase of recruitment. You will have to discuss and work with other candidates!</p>
                        <p class="card-text"><small class="text-muted"><i class="far fa-calendar-alt"></i> 24 to 27th of February</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card recruitment">
                    <img class="card-img-top p-1" src="../img/recruitment/interview.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-share">3. Interview</h5>
                        <p class="card-text">After you're approved on the group dynamics, there's a simple interview so we can learn more about you!</p>
                        <p class="card-text"><small class="text-muted"><i class="far fa-calendar-alt"></i> 2 to 6th of March</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card recruitment">
                    <img class="card-img-top p-1" src="../img/recruitment/retreat.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-share">4. Final Retreat</h5>
                        <p class="card-text">This is the last phase! You have to make sure you are available for this very special day.</p>
                        <p class="card-text"><small class="text-muted"><i class="far fa-calendar-alt"></i> 7th March 2020</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 my-auto text-muted">
                <h1>Let's learn together!</h1>
                <p>Become a ShARE member this semester</p>
                <a href=" https://forms.gle/72FJn6uQhEhggKDw6 " target="_blank " class=" btn btn-lg btn-share mt-4 ">Apply Now!</a>
            </div>
            <div class="col-md-6 pt-3 ">
                <img src="../img/recruitment/applyNow.png " class="img-fluid applyNow " alt="Responsive image ">
            </div>
        </div>
    </div>
</section>