<section class="bg-white" id="scopes">
    <div class="container text-center text-light">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-dark">ShARE Scopes</h2>
                <h3 class="section-subheading text-muted">We are focused on strategic consulting! Take a lool at some examples of the main problem areas we tackle</h3>
            </div>
        </div>
        <div class="row">
            <!-- Cards -->
            {% for scope in site.scopes %}
            <div class="col-md-6 mb-5">
                <img src="../img/scopes/{{scope.img}}.png" class="img-fluid scope-img mx-auto" alt="Scope Image">
                <h4 class="text-dark my-2">{{scope.name}}</h4>
                <p class="text-muted"><em>{{scope.description}}</em></p>
                <button type="button" data-toggle="modal" data-target="#{{scope.scope-id}}" class=" btn btn-dark ">Find out more!</button>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Modals -->
    {% for scope in site.scopes %}
    <div class="modal fade " id="{{scope.scope-id}}" tabindex="-1 " role="dialog " aria-labelledby="exampleModalCenterTitle " aria-hidden="true ">
        <div class="modal-dialog modal-dialog-centered modal-lg " role="document ">
            <div class="modal-content ">
                <div class="modal-header text-center ">
                    <h5 class="modal-title text-share " id="exampleModalCenterTitle ">{{scope.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true ">&times;</span>
              </button>
                </div>
                <div class="modal-body px-5 ">
                    <p class="text-center text-muted "><em>{{scope.description}}</em></p>
                    {{scope.content}}
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>