<section class="bg-light" id="students">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">ShARE Students</h2>
                <h3 class="section-subheading text-muted">ShARE-UP members are bright students, with the potential to shape a more sustainable and inclusive world</h3>
            </div>
        </div>
        <!-- delete card settings if not used -->
        <div class="row">
            <div class="col-lg-4">
                <div class="card students">
                    <img src="{{site.baseurl}}/img/student/dowelldogood.png" class="card-img mx-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Do Well Do Good</h5>
                        <p class="card-text">Through excellence and professionalism, we collaborate on solving major societal issues and on cases to transform companies</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 box-sahdow">
                <div class="card students">
                    <img src="{{site.baseurl}}/img/student/leadership.png" class="card-img mx-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Leadership</h5>
                        <p class="card-text">ShARE is structured to improve the students’ ability to take initiatives and develop an entrepreneurial spirit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card students">
                    <img src="{{site.baseurl}}/img/student/global.png" class="card-img mx-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Global Mindset</h5>
                        <p class="card-text">Our members are integrated in a global network, enabling us to work with international teams to develop projects. The events we locally organize have a global</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-2">
                <div class="card students">
                    <img src="{{site.baseurl}}/img/student/shareknowledge.png" class="card-img mx-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Knowledge Sharing</h5>
                        <p class="card-text">We promote discussion and critical thinking inside our organization. All our meetings and presentations </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card students">
                    <img src="{{site.baseurl}}/img/student/consultancy.png" class="card-img mx-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Consultancy Skills</h5>
                        <p class="card-text">ShARE students acquire top corporate skills through training and real life projects with start-ups, companies, and NGOs </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>