<!-- Section: Team  -->
<section class="team-section text-center" id="team">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Section heading -->
                <h1 class="section-heading">Our Amazing Team</h1>
                <!-- Section description -->
                <h3 class="section-subheading text-muted">We are a team of about 50 people, coordinated by a board of 4 directors</h3>
            </div>
        </div>
        <!-- Grid row -->
        <div class="row text-center">
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="../img/board/AlexandraLeite.png" class="img-fluid rounded img-board" alt="Sample avatar">
                </div>
                <h4 class="text-dark font-weight-bold dark-grey-text my-4">Alexandra Leite</h4>
                <h6 class="text-muted text-uppercase grey-text mb-3"><strong>Internal Vice-President</strong></h6>
                <!--Linkedin -->
                <a type="button" target="_blank" href="https://www.linkedin.com/in/alexandra-leite-557184164/" class="board-social  btn-floating btn-sm mx-1 mb-0 btn-li">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <!-- Facebook-->
                <!--                 <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
                    <i class="fab fa-facebook-f"></i>
                </a> -->
                <!--Dribbble -->
                <!--                 <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble">
                    <i class="fab fa-dribbble"></i>
                </a> -->
                <!-- Twitter -->
                <!--                 <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
                    <i class="fab fa-twitter"></i>
                </a> -->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="../img/board/JoaoMatos.png" class="img-fluid rounded img-board" alt="Sample avatar">
                </div>
                <h4 class="text-dark font-weight-bold dark-grey-text my-4">João Matos</h4>
                <h6 class="text-muted text-uppercase grey-text mb-3"><strong>President</strong></h6>
                <!-- Linkedin -->
                <a type="button" target="_blank" href="https://www.linkedin.com/in/joao-mat0s/" class="board-social btn-floating btn-sm mx-1 mb-0 btn-li">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <!--Email-->
                <!--                 <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email">
                    <i class="fas fa-envelope"></i>
                </a> -->
                <!-- Facebook-->
                <!--                 <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
                    <i class="fab fa-facebook-f"></i>
                </a> -->
                <!-- GitHub-->
                <!--                 <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git">
                    <i class="fab fa-github"></i>
                </a> -->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="../img/board/CarinaLopes.png" class=" img-fluid rounded img-board" alt="Sample avatar">
                </div>
                <h4 class="text-dark font-weight-bold dark-grey-text my-4">Carina Lopes</h4>
                <h6 class="text-muted text-uppercase grey-text mb-3"><strong>External Vice-President</strong></h6>
                <!--Linkedin -->
                <a type="button" target="_blank" href="https://www.linkedin.com/in/carinateixeiralopes/" class="board-social btn-floating btn-sm mx-1 mb-0 btn-li">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <!--                Twitter
                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
                    <i class="fab fa-twitter "></i>
                </a>
                Pinterest 
                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-pin">
                    <i class="fab fa-pinterest "></i>
                </a> -->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="../img/board/GuilhermeGuimaraes.png" class="img-fluid rounded img-board" alt="Sample avatar">
                </div>
                <h4 class="text-dark font-weight-bold dark-grey-text my-4">Guilherme Guimarães</h4>
                <h6 class="text-muted text-uppercase grey-text mb-3"><strong>Treasurer</strong></h6>
                <!--Linkedin -->
                <a type="button" target="_blank" href="https://www.linkedin.com/in/guilhermedqg/" class="board-social btn-floating btn-sm mx-1 mb-0 btn-li">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <!--                Twitter
                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
                    <i class="fab fa-twitter "></i>
                </a>
                Pinterest 
                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-pin">
                    <i class="fab fa-pinterest "></i>
                </a> -->
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
    </div>
</section>
<hr>
<!-- Section: Team-->