<!-- go back point -->
<!-- Section: Team  -->
<section class="team-section text-center" id="team">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Section heading -->
                <h1 class="section-heading">Our Amazing Team</h1>
                <!-- Section description -->
                <h3 class="section-subheading text-muted">We are a team of about 50 people, coordinated by a board of 4 directors</h3>
            </div>
        </div>
        <!-- Grid row -->
        <div class="row text-center">
            <!-- Grid column -->
            <div class="col-md-3 mb-3">
                <img src="../img/board/AlexandraLeite.png" class="img-fluid rounded img-board" alt="Sample ">
                <h4 class="text-dark font-weight-bold my-4">Alexandra Leite</h4>
                <h6 class="text-muted text-uppercase mb-3">Internal Vice-President</h6>
                <!--Linkedin -->
                <a type="button" target="_blank" href="https://www.linkedin.com/in/alexandra-leite-557184164/" class="board-social  btn-floating">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-3">
                <img src="../img/board/JoaoMatos.png" class="img-fluid rounded img-board" alt="Sample ">
                <h4 class="text-dark font-weight-bold my-4">João Matos</h4>
                <h6 class="text-muted text-uppercase mb-3">President</h6>
                <!-- Linkedin -->
                <a type="button" target="_blank" href="https://www.linkedin.com/in/joao-mat0s/" class="board-social btn-floating">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-3">
                <img src="../img/board/CarinaLopes.png" class=" img-fluid rounded img-board" alt="Sample ">
                <h4 class="text-dark font-weight-bold my-4">Carina Lopes</h4>
                <h6 class="text-muted text-uppercase mb-3">External Vice-President</h6>
                <!--Linkedin -->
                <a type="button" target="_blank" href="https://www.linkedin.com/in/carinateixeiralopes/" class="board-social btn-floating">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-3">
                <img src="../img/board/GuilhermeGuimaraes.png" class="img-fluid rounded img-board" alt="Sample ">
                <h4 class="text-dark font-weight-bold my-4">Guilherme Guimarães</h4>
                <h6 class="text-muted text-uppercase mb-3">Treasurer</h6>
                <!--Linkedin -->
                <a type="button" target="_blank" href="https://www.linkedin.com/in/guilhermedqg/" class="board-social btn-floating">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
    </div>
</section>
<hr>
<!-- Section: Team-->