<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

{% include head.html %}

<body data-spy="scroll" data-target="#nav-top">

    {% include loader.html %} {% include nav.html %} {% include banners/recruitment.html %} {% include header.html %} {% include about.html%} {% include students.html%} {% include services.html%} {% include scopes.html%} {% include team.html %} {% include networks.html %} {% include recruitment.html
    %} {% include contact.html %} {% include footer.html %}
    
</body>

</html>