<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

{% include head.html %}

<body data-spy="scroll" data-target="#nav-top" class="bg-light">
    {% include nav.html %}
    <div class="container">
        <div class="row">
            <div class="col p-4">
                <article class="article-page">
                    <div class="page-content">
                        <div class="page-cover-image">
                            <figure>
                                <img class="page-image" src="../img/press_reviews/images/{{page.thumbnail}}" alt="{{title}}">
                            </figure>
                        </div>
                        <!-- End Page Cover Image -->
                        <div class="wrap-content">
                            <header class="header-page">
                                <h2 class="page-title px-3">{{page.title}}</h2>
                                <div class="page-date font-weight-normal">{{page.news-date}} - by <a href="{{page.linkedin}}" class="text-share press-link" target="_blank">{{page.author}}</a> </div>
                            </header>
                            <div class="text-muted press-content px-lg-5 py-3">{{page.content}}</div>
                            <div class=" video-wrapper">
                                <video class="press-video" controls>
                                        <source src="../img/press_reviews/videos/{{page.video}}" type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <p class="text-muted text-center px-5">Source: <a href={{page.link}} class="text-share press-link" target="_blank">{{page.source}}</a> - All rigths reserved their original owner</p>
                        <div class="page-footer p-3">
                            <!--                             <div class="page-share">
                                <a href="https://twitter.com/intent/tweet?text=How I Rest From Work&url=/how-i-rest-from-work/" title="Share on Twitter" rel="nofollow" target="_blank">Linkedin</a>
                                <a href="https://facebook.com/sharer.php?u=/how-i-rest-from-work/" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a>
                                <a href="https://plus.google.com/share?url=/how-i-rest-from-work/" title="Share on Google+" rel="nofollow" target="_blank">Google+</a>
                            </div> -->

                            <!-- End Footer -->
                            <div class="page-tag">
                                {% for hashtag in page.hashtags %}
                                <a href="" class="tag">&#35; {{hashtag.word}}</a> {% endfor %}
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        {% include footer.html %}
</body>

</html>